h1 {
    font-size: 100px;
    margin:25px, 75px, 50px, 40px;
}


* {

font-family:papyrus;
background-color: beige;



}
h2 { 
    font-size:50px;

}
a{
    text-decoration: None;
    font-family:papyrus;
    text-align: right ;
}
li { 
    display: inline;
    float: right;

}
ul {
    list-style-type: none;
    margin: 10;
    padding: 8px;
    background-color: bisque;

}